@font-face {
  font-family: 'game';
  src: url(../font/body.ttf);
}

:root {
	--pixel-bg: lightblue;
	/* ↑ Inner background color */
	
	--pixel-border:  black;
	/* ↑ Inner border color */
	
	--pixel-border-2: rgb(0, 211, 226);
	/* ↑ Middle border color */
	
	--pixel-border-3: rgb(0, 157, 255);
	/* ↑ Outer border color */
	
	--pixel: .125rem;
	/* ↑ Pixel size */
}

.pixel-border {
	box-shadow:
		
	/* Pixel Border Layer 1 */
		calc(var(--pixel) * -1) 0 0 0 var(--pixel-border),
		var(--pixel) 0 0 0 var(--pixel-border),
		0 calc(var(--pixel) * -2) 0 0 var(--pixel-border),
		0 calc(var(--pixel) * 2) 0 0 var(--pixel-border),
		0 calc(var(--pixel) * -5) 0 calc(var(--pixel) * -1) var(--pixel-border),
		0 calc(var(--pixel) * 5) 0 calc(var(--pixel) * -1) var(--pixel-border),
		0 calc(var(--pixel) * -7) 0 calc(var(--pixel) * -2) var(--pixel-border),
		0 calc(var(--pixel) * 7) 0 calc(var(--pixel) * -2) var(--pixel-border),
		0 calc(var(--pixel) * -10) 0 calc(var(--pixel) * -4) var(--pixel-border),
		0 calc(var(--pixel) * 10) 0 calc(var(--pixel) * -4) var(--pixel-border),
		0 calc(var(--pixel) * -13) 0 calc(var(--pixel) * -6) var(--pixel-border),
		0 calc(var(--pixel) * 13) 0 calc(var(--pixel) * -6) var(--pixel-border),
		
	/* Pixel Border Layer 2 */
		calc(var(--pixel) * -2) 0 0 0 var(--pixel-border-2),
		calc(var(--pixel) * 2) 0 0 0 var(--pixel-border-2),
		0 calc(var(--pixel) * -1) 0 var(--pixel) var(--pixel-border-2), 
		0 var(--pixel) 0 var(--pixel) var(--pixel-border-2),
		0 calc(var(--pixel) * -4) 0 0 var(--pixel-border-2),
		0 calc(var(--pixel) * 4) 0 0 var(--pixel-border-2),
		0 calc(var(--pixel) * -6) 0 calc(var(--pixel) * -1) var(--pixel-border-2),
		0 calc(var(--pixel) * 6) 0 calc(var(--pixel) * -1) var(--pixel-border-2),
		0 calc(var(--pixel) * -8) 0 calc(var(--pixel) * -2) var(--pixel-border-2),
		0 calc(var(--pixel) * 8) 0 calc(var(--pixel) * -2) var(--pixel-border-2),
		0 calc(var(--pixel) * -11) 0 calc(var(--pixel) * -4) var(--pixel-border-2),
		0 calc(var(--pixel) * 11) 0 calc(var(--pixel) * -4) var(--pixel-border-2),
		0 calc(var(--pixel) * -14) 0 calc(var(--pixel) * -6) var(--pixel-border-2),
		0 calc(var(--pixel) * 14) 0 calc(var(--pixel) * -6) var(--pixel-border-2),
		
	/* Border Layer 3: --pixel-border-3 */
		calc(var(--pixel) * -3) 0 0 0 var(--pixel-border-3),
		calc(var(--pixel) * 3) 0 0 0 var(--pixel-border-3),
		0 0 0 calc(var(--pixel) * 2) var(--pixel-border-3),
		0 calc(var(--pixel) * -3) 0 var(--pixel) var(--pixel-border-3),
		0 calc(var(--pixel) * 3) 0 var(--pixel) var(--pixel-border-3),
		0 calc(var(--pixel) * -5) 0 0 var(--pixel-border-3),
		0 calc(var(--pixel) * 5) 0 0 var(--pixel-border-3),
		0 calc(var(--pixel) * -7) 0 calc(var(--pixel) * -1) var(--pixel-border-3),
		0 calc(var(--pixel) * 7) 0 calc(var(--pixel) * -1) var(--pixel-border-3),
		0 calc(var(--pixel) * -9) 0 calc(var(--pixel) * -2) var(--pixel-border-3), 
		0 calc(var(--pixel) * 9) 0 calc(var(--pixel) * -2) var(--pixel-border-3),
		0 calc(var(--pixel) * -12) 0 calc(var(--pixel) * -4) var(--pixel-border-3), 
		0 calc(var(--pixel) * 12) 0 calc(var(--pixel) * -4) var(--pixel-border-3),
		0 calc(var(--pixel) * -15) 0 calc(var(--pixel) * -6) var(--pixel-border-3), 
		0 calc(var(--pixel) * 15) 0 calc(var(--pixel) * -6) var(--pixel-border-3);
}

img {
  image-rendering: pixelated;
}


html {
  height: 100%;
  background-color: black;
  font-family: 'game';
  font-size: 14px;
  color: white;
}

#mine {
  display: flex;
  flex-wrap: wrap;
}

#shop,
#cristal,
#travel,
#travel-finished{
  margin: 30px;
}

#cristal {
  flex-basis: 45%;
}

#shop, #travel-finished {
  flex-basis: 35%;
  height: 350px;
  overflow-y: scroll;
  padding: 20px;
}


#travel{
  flex-basis: 45%;
  height: 350px;
}


.travel {
  flex-basis: 100%;
  display: flex;
  margin-bottom: 15px;
}

.travel-name {
  flex-basis: 10%;
}

.travel-name img {
  vertical-align: middle;
  height: 40px;
  width: 60px;
}

.travel-drop {
  flex-basis: 15%;
}

.travel-time {
  flex-basis: 20%;
}

.travel-bar {
  text-align: center;
  display: flex; 
  flex-basis: 45%;  
  width: 100%;
  background-color: gray;
  padding: 1px;
  border-radius: 5px;
  height: 3px;
}

.travel-bar-fill {
  display: block;
  height: 3px;
  background: linear-gradient(135deg, cyan, rgb(0, 102, 255));
  border-radius: 3px;
}

.travel-rewards, .buy-item {
  background-color: rgb(24, 211, 211);
  font-family: 'Game';
  font-size: 13px;
  cursor: pointer;
  border-radius: 5%;
  padding: 2px;
}

.not-sale {
  background-color: rgb(255, 0, 106);
  font-family: 'Game';
  font-size: 13px;
  border-radius: 5%;
  padding: 2px;
}

#shop {
  display: flex;
  flex-wrap: wrap;
}
.shop-item:active{
  filter: brightness(1.2);
}
.shop-item {
  flex-basis: 45%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  margin-right: 10px;
}

.item-image {
  flex-basis: 10%;
}

.item-image img {
  vertical-align: middle;
}

.item-nb {
  flex-basis: 60%;
}

.item-price {
  flex-basis: 30%;
}

#cristal {
  text-align: center;
}


#cristal img {
  height: 250px;
  width: 250px;
  transition: transform 0.3s;
  transition: filter 0.3s;
  transform-origin: center bottom;
  transition: transform 0.2s, opacity 0.45s;
  transition-timing-function: ease-out;
  cursor: url(../img/pickaxe.png), auto;
}

#cristal img:hover {
  transform: scale(1.1);
  filter: brightness(1.1);
}

#cristal img:active {
  transform: scale(1.2);
  filter: brightness(1.2);
}

.waiting {
  background-color: rgb(255, 0, 106);
  cursor: progress;
}

@keyframes briller {
  0% {
    filter: brightness(1);
  }

  50% {
    filter: brightness(1.5);
  }

  100% {
    filter: brightness(1);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@media screen and (max-width: 900px) {

  html {
    font-size: 12px;
  }

  #cristal img {
    height: 100px;
    width: 100px;
  }

  #cristal-count {
    font-size: 12px;
  }

  #shop, #cristal, #travel, #travel-finished, .shop-item{
    flex-basis: 100%;
  }


}